.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  color: #000000;
}

.containerItem {
  padding: 1%;
  font-size: 20px;
  text-align: right;
}

.containerMessage {
  text-align: left;
  color: red;
  font-size: 12px;
  margin-left: 2%;
}

.label {
  font-size: 1.5vw; 
}

.item {
  width: 100%;
  border: solid;
  height: 100%;
  box-sizing: border-box; /* applies to select only */
}

.buttonContainer{
  display: flex;
  columns: 2;
  gap: 10%;
  float: right;
  width: 30%;
  height: 100%;
}

.button {
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none; 
  font-size: 1vw;
  margin-bottom: 5%;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px black; 
}

.button:hover {
  background-color: lightgrey;
}

.table {
  width: 88%;
}

.tableHeader {
  background-color: #a0a0a0;
  color: black;
}

.tableItem {
  text-align: left;
  width: 50%;
}

.space {
  margin-top: 8%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
